<a href="https://colab.research.google.com/github/ImSumitJadhav/Pandas-Exercise/blob/main/Exercises_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex2 - Getting and Knowing your Data



### Step 1. Import the necessary libraries

In [2]:
#import libraries

import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [3]:
df=pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",delimiter="\t")

In [4]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 3. Assign it to a variable called chipo.

In [5]:
chipo=df
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. See the first 10 entries

In [6]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [7]:
# Solution 1

df.shape[0]

4622

In [8]:
# Solution 2

len(df)

4622

### Step 6. What is the number of columns in the dataset?

In [9]:
len(df.columns)

5

### Step 7. Print the name of all the columns.

In [10]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [11]:
df.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [12]:
df.item_name.value_counts().nlargest(1).index[0]

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [13]:
df.item_name.value_counts().nlargest(1)

Chicken Bowl    726
Name: item_name, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [14]:
df.choice_description.value_counts().nlargest(1).index[0]

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [15]:
df.quantity.sum()

4972

### Step 13. Turn the item price into a float

In [20]:
df["item_price"]=df["item_price"].str.replace("$","")
df["item_price"]=df["item_price"].astype("float64")

#### Step 13.a. Check the item price type

In [21]:
df.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

### Step 14. How much was the revenue for the period in the dataset?

In [23]:
df.item_price.sum()

34500.16

### Step 15. How many orders were made in the period?

In [24]:
len(df.order_id.unique())

1834

In [25]:
df.order_id.nunique()

1834

### Step 16. What is the average revenue amount per order?

In [32]:
# Solution 1
df['revenue'] = df['quantity'] * df['item_price']
df.groupby("order_id").sum()["revenue"].mean()

21.39423118865867

### Step 17. How many different items are sold?

In [33]:
df.item_name.nunique()

50