<a href="https://colab.research.google.com/github/ImSumitJadhav/Pandas-Exercise/blob/main/Exercises_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [3]:
s1=np.random.randint(1,high=5,size=100,dtype="I")
s2=np.random.randint(1,high=4,size=100,dtype="I")
s3=np.random.randint(10000,high=30001,size=100,dtype="I")

### Step 3. Let's create a DataFrame by joinning the Series by column

In [8]:
dict_of_series={"col1":s1,"col2":s2,"col3":s3}
df=pd.DataFrame(dict_of_series)
df

    col1  col2   col3
0      3     1  25330
1      1     2  29599
2      2     2  14099
3      4     1  26487
4      1     1  26456
..   ...   ...    ...
95     3     3  11888
96     1     1  16150
97     2     1  23330
98     3     1  10334
99     2     1  14381

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [12]:
df.rename(columns={"col1":"bedrs","col2":"bathrs","col3":"price_sqr_meter"})

    bedrs  bathrs  price_sqr_meter
0       3       1            25330
1       1       2            29599
2       2       2            14099
3       4       1            26487
4       1       1            26456
..    ...     ...              ...
95      3       3            11888
96      1       1            16150
97      2       1            23330
98      3       1            10334
99      2       1            14381

[100 rows x 3 columns]

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [16]:
len(df)

100